{% extends "layout.html" %}
{% load static %}
{% block body %}
    <!--============= Contact Section Starts Here =============-->
    <section class="pt-24 pb-16 bg-gray-100">
        <div class="container mx-auto max-w-[1280px] w-full m-auto">
            <div class="text-center mb-12 px-2">
                <h5 class="text-blue-500 text-lg font-medium">Contact Us</h5>
                <h2 class="text-3xl font-bold text-gray-800">Get in Touch</h2>
                <p class="text-gray-600">We'd love to hear from you! Let us know how we can help.</p>
            </div>
            <div class="bg-white p-8 rounded-lg shadow-lg max-w-lg mx-auto">
                <form id="contact_form" class="space-y-6">
                    <div class="flex items-center border-b border-gray-300 py-2">
                        <i class="far fa-user text-gray-500 mr-3"></i>
                        <input type="text" placeholder="Your Name" name="name" id="name"
                            class="w-full focus:outline-none p-2">
                    </div>
                    <div class="flex items-center border-b border-gray-300 py-2">
                        <i class="fas fa-envelope-open-text text-gray-500 mr-3"></i>
                        <input type="email" placeholder="Enter Your Email ID" name="email" id="email"
                            class="w-full focus:outline-none p-2">
                    </div>
                    <div class="flex items-start border-b border-gray-300 py-2">
                        <i class="far fa-envelope text-gray-500 mr-3 mt-3"></i>
                        <textarea name="message" id="message" placeholder="Type Your Message"
                            class="w-full focus:outline-none p-2 h-32 resize-none"></textarea>
                    </div>
                    <center>
                        <div class="g-recaptcha" data-sitekey="6LdRLDQqAAAAAJbT-riLKNptaIgFyVvmMtJQ7LXC"></div>
                        <span id="captcha_message" class="text-red-600 text-sm mt-2"></span>
                    </center>
                    <div class="text-center">
                        <button type="submit"
                            class="bg-blue-500 text-white py-2 px-6 rounded-lg hover:bg-blue-600 focus:outline-none">
                            Send Message
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--============= Contact Section Ends Here =============-->

    <script>
        document.getElementById('contact_form').addEventListener('submit', function(event) {
          event.preventDefault();
      
          var recaptchaResponse = grecaptcha.getResponse();
          var captchaMessage = document.getElementById('captcha_message');
      
          if (recaptchaResponse.length === 0) {
            captchaMessage.classList.remove('hidden');
            captchaMessage.classList.add('block');
            captchaMessage.textContent = 'Please complete the reCAPTCHA';
          } else {
            captchaMessage.classList.remove('block');
            captchaMessage.classList.add('hidden');
            this.submit();
          }
        });
      </script>
      
      

{% endblock %}
