{% extends "layout.html" %}
{% load static %}
{% block body %}
    {% include "banner.html" %}

    <!-- Top Auctions Section -->
    <section class="py-16 relative bg-gray-100">
        <div class="container mx-auto max-w-[1280px] w-full m-auto">
            <div class="flex justify-between items-center mb-8">
                <h2 class="text-3xl font-semibold">Top auctions list</h2>
                <a href="{% url 'auctionList' %}"
                   class="bg-blue-500 text-white px-4 py-2 rounded"
                >View All</a
                >
            </div>
            <div class="flex flex-wrap justify-center gap-6">
                {% for top_three_p_list in top_three_products %}
                    <div class="bg-white shadow-lg rounded-lg overflow-hidden w-[320px]">
                        <!-- Image Section -->
                        <div class="relative w-full h-[200px] bg-gray-200 rounded-lg overflow-hidden">
                            <a href="{% url 'auctionDetails' top_three_p_list.id %}">
                                <img src="{{ top_three_p_list.first_image_url }}"
                                     alt="{{ top_three_p_list.title }}"
                                     class="w-auto h-full m-auto cursor-pointer hover:scale-110 transition"
                                />
                            </a>
                            <div class="absolute top-2 right-2 bg-gray-800 text-white px-3 py-1 text-xs rounded">
                                <a href="{% url 'auctionDetails' top_three_p_list.id %}" class="text-white font-bold">Bid
                                    Now</a>
                            </div>
                        </div>

                        <!-- Card Content -->
                        <div class="p-4">
                            <!-- Title -->
                            <h6 class="text-lg font-medium text-gray-800 mb-2 truncate">
                                <a
                                        href="{% url 'auctionDetails' top_three_p_list.id %}"
                                        class="hover:text-blue-600"
                                >
                                    {{ top_three_p_list.title }}
                                </a>
                            </h6>

                            <!-- Price and Bid Information -->
                            <div class="mb-4">
                                <div
                                        class="flex justify-between items-center text-sm text-gray-600 mb-2"
                                >
                                    <p class="text-blue-500 font-semibold">
                                        Buy Now: ৳ {{ top_three_p_list.buy_now_price }}
                                    </p>
                                    {% if top_three_p_list.highest_bid != 0 %}
                                        <p class="line-through text-red-500">
                                            ৳ {{ top_three_p_list.highest_bid }}
                                        </p>
                                    {% else %}
                                        <p class="line-through text-red-500">
                                            ৳ {{ top_three_p_list.starting_bid }}
                                        </p>
                                    {% endif %}
                                </div>

                                <div
                                        class="flex justify-between items-center text-lg font-semibold text-gray-900 mb-2"
                                >
                                    <h5>Current Bid</h5>
                                    <h5>
                                        ৳ {{ top_three_p_list.highest_bid|default:top_three_p_list.starting_bid }}
                                    </h5>
                                </div>

                                <div
                                        class="flex justify-between items-center text-sm text-gray-600"
                                >
                                    <p>
                                        Bids:
                                        <span class="font-bold">{{ present_bid|default:"0" }}</span>
                                    </p>
                                    <div class="countdown-timer" data-expire-date="{{ top_three_p_list.expire_date }}"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Call to Action Section -->
    {% if not user.is_authenticated %}
        <section class="py-16 bg-blue-700 text-center text-white">
            <div class="container mx-auto max-w-[1280px] w-full m-auto">
                <h3 class="text-2xl font-bold">Register for Free & Start Bidding Now!</h3>
                <p class="mb-8">From cars to diamonds to iPhones, we have it all.</p>
                <a
                        href="/register"
                        class="bg-white text-blue-700 px-6 py-2 rounded hover:bg-purple-100"
                >Register</a
                >
            </div>
        </section>
    {% endif %}

    <!-- Watches Auction Section -->
    {% if watch_cat_products|length > 0 %}
        <section class="py-16 bg-gray-100">
            <div class="container mx-auto max-w-[1280px] w-full m-auto">
                <div class="flex justify-between items-center mb-8">
                    <div class="flex items-center">
                        <img src="{% static 'images/header-icons/watch.png' %}"
                             alt="header-icons"
                             class="h-12 mr-4"/>
                        <div>
                            <h2 class="text-3xl font-semibold">Watches</h2>
                            <p class="text-gray-600">
                                Shop for men & women designer brand watches
                            </p>
                        </div>
                    </div>
                    <a href="/auctions" class="bg-blue-500 text-white px-4 py-2 rounded"
                    >View All</a
                    >
                </div>
                <div class="flex flex-wrap justify-center gap-6">
                    {% for watch_p_list in watch_cat_products %}
                        <div class="bg-white shadow-lg rounded-lg overflow-hidden w-[320px]"
                        >
                            <!-- Image Section -->
                            <div class="relative w-full h-[200px] bg-gray-200 rounded-lg overflow-hidden">
                                <a href="{% url 'auctionDetails' watch_p_list.id %}">
                                    <img src="{{ watch_p_list.first_image_url }}"
                                         alt="{{ watch_p_list.title }}"
                                         class="w-auto h-full m-auto cursor-pointer hover:scale-110 transition"
                                    />
                                </a>
                                <div class="absolute top-2 right-2 bg-gray-800 text-white px-3 py-1 text-xs rounded">
                                    <a href="{% url 'auctionDetails' watch_p_list.id %}"
                                       class="text-white font-bold">Bid Now</a>
                                </div>
                            </div>

                            <!-- Card Content -->
                            <div class="p-4">
                                <!-- Title -->
                                <h6 class="text-lg font-medium text-gray-800 mb-2 truncate">
                                    <a
                                            href="{% url 'auctionDetails' watch_p_list.id %}"
                                            class="hover:text-blue-600"
                                    >
                                        {{ watch_p_list.title }}
                                    </a>
                                </h6>

                                <!-- Price and Bid Information -->
                                <div class="mb-4">
                                    <div
                                            class="flex justify-between items-center text-sm text-gray-600 mb-2"
                                    >
                                        <p class="text-blue-500 font-semibold">
                                            Buy Now: ৳ {{ watch_p_list.buy_now_price }}
                                        </p>
                                        {% if watch_p_list.highest_bid %}
                                            <p class="line-through text-red-500">
                                                ৳ {{ watch_p_list.highest_bid }}
                                            </p>
                                        {% else %}
                                            <p class="line-through text-red-500">
                                                ৳ {{ watch_p_list.starting_bid }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div
                                            class="flex justify-between items-center text-lg font-semibold text-gray-900 mb-2"
                                    >
                                        <h5>Current Bid</h5>
                                        <h5>
                                            ৳ {{ watch_p_list.highest_bid|default:watch_p_list.starting_bid }}
                                        </h5>
                                    </div>

                                    <div
                                            class="flex justify-between items-center text-sm text-gray-600"
                                    >
                                        <p>
                                            Bids:
                                            <span class="font-bold">{{ present_bid|default:"0" }}</span>
                                        </p>
                                        <div
                                                class="countdown-timer"
                                                data-expire-date="{{ watch_p_list.expire_date }}"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <!-- How It Works Section -->
    <section class="bg-gray-100 py-20">
        <div class="container mx-auto py-10 bg-white shadow-lg rounded-lg max-w-[1280px] w-full m-auto">
            <div class="text-center mb-12">
                <h2 class="text-3xl font-semibold">How it works</h2>
                <p class="text-gray-600">Easy 3 steps to win</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <div class="flex flex-col items-center">
                    <img
                            src="{% static 'images/how/signup.png' %}"
                            alt="how"
                            class="h-24 mb-4"
                    />
                    <h4 class="text-xl font-semibold mb-2">Sign Up</h4>
                    <p class="text-gray-600">No Credit Card Required</p>
                </div>
                <div class="flex flex-col items-center">
                    <img
                            src="{% static 'images/how/bid.png' %}"
                            alt="how"
                            class="h-24 mb-4"
                    />
                    <h4 class="text-xl font-semibold mb-2">Bid</h4>
                    <p class="text-gray-600">Bidding is free Only pay if you win</p>
                </div>
                <div class="flex flex-col items-center">
                    <img
                            src="{% static 'images/how/win.png' %}"
                            alt="how"
                            class="h-24 mb-4"
                    />
                    <h4 class="text-xl font-semibold mb-2">Win</h4>
                    <p class="text-gray-600">Fun - Excitement - Great deals</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
