{% extends "layout.html" %}
{% load static %}
{% block body %}

    <!--============= Product Auction Section Starts Here =============-->
    <div class="pt-24 pb-16 bg-gray-100">
        <div class="container mx-auto max-w-[1280px] w-full m-auto">
            <div class="flex gap-2 items-center justify-between mb-8 bg-white shadow rounded-lg py-4 px-2">
                <div class="flex items-center">
                    <div class="hidden md:block text-gray-700 font-medium">Category:</div>
                    <form id="filterForm" method="get" action="/auctions">
                        <div class="relative">
                            <select name="filter-by"
                                    id="filterCat"
                                    class="border border-gray-300 rounded-lg px-3 py-2 pr-10 focus:ring-blue-500 focus:border-blue-500 w-full appearance-none"
                                    onchange="document.getElementById('filterForm').submit();">
                                <option value="all" {% if selected_category == 'all' %} selected {% endif %}>All
                                </option>
                                {% for cat in categories %}
                                    <option value="{{ cat.title }}" {% if selected_category == cat.title %}
                                            selected {% endif %}>
                                        {{ cat.title }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="absolute inset-y-0 right-2 flex items-center px-2 pointer-events-none">
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </div>
                    </form>

                </div>
                <form method="get" action="/auctions" class="flex items-center space-x-2">
                    <input name="q" type="text" placeholder="Item Name"
                           class="border border-gray-300 rounded-lg p-2 w-full focus:ring-blue-500 focus:border-blue-500">
                    <button type="submit"
                            class="bg-[#242c5f] text-white px-3 py-2 rounded-lg focus:outline-none">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            {% if total_auctions %}
                <div class="grid gap-4 grid-cols-2 px-2 lg:px-0 md:grid-cols-3 lg:grid-cols-4 justify-items-center">
                    {% for auction_p_list in auctions %}
                        <div class="bg-white shadow-lg rounded-lg overflow-hidden w-full max-w-[320px]">
                            <!-- Image Section -->
                            <div class="relative w-full h-[180px] md:h-[200px] bg-gray-200 rounded-lg overflow-hidden">
                                <a href="{% url 'auctionDetails' auction_p_list.id %}">
                                    <img src="{{ auction_p_list.first_image_url }}"
                                         alt="{{ auction_p_list.title }}"
                                         class="w-full h-full object-cover cursor-pointer hover:scale-105 transition-transform duration-300"
                                    />
                                </a>
                                <div class="absolute top-2 right-2 bg-gray-800 text-white px-3 py-1 text-xs rounded">
                                    <a href="{% url 'auctionDetails' auction_p_list.id %}" class="text-white font-bold">Bid
                                        Now</a>
                                </div>
                            </div>

                            <!-- Card Content -->
                            <div class="p-2 md:p-4">
                                <!-- Title -->
                                <h6 class="text-sm md:text-lg font-medium text-gray-800 mb-2 truncate">
                                    <a href="{% url 'auctionDetails' auction_p_list.id %}" class="hover:text-blue-600">
                                        {{ auction_p_list.title }}
                                    </a>
                                </h6>

                                <!-- Price and Bid Information -->
                                <div class="mb-0 md:mb-4">
                                    <div class="hidden md:block flex justify-between items-center text-sm text-gray-600 mb-2">
                                        <p class="text-blue-500 font-semibold">
                                            Buy Now: ৳ {{ auction_p_list.buy_now_price }}
                                        </p>
                                        {% if auction_p_list.highest_bid != 0 %}
                                            <p class="line-through text-red-500">
                                                ৳ {{ auction_p_list.highest_bid }}
                                            </p>
                                        {% else %}
                                            <p class="line-through text-red-500">
                                                ৳ {{ auction_p_list.starting_bid }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="flex justify-between items-center text-sm md:text-lg font-semibold text-gray-900 mb-2">
                                        <h5>Current Bid</h5>
                                        <h5>
                                            ৳ {{ auction_p_list.highest_bid|default:auction_p_list.starting_bid }}
                                        </h5>
                                    </div>

                                    <div class="flex justify-between items-center text-sm text-gray-600">
                                        <p>
                                            Bids:
                                            <span class="font-bold">{{ auction_p_list.total_bids|default:"0" }}</span>
                                        </p>
                                        <div class="countdown-timer"
                                             data-expire-date="{{ auction_p_list.expire_date }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


                <div class="flex justify-center mt-12">
                    <ul class="flex space-x-2">
                        <!-- Previous Arrow -->
                        {% if auctions.has_previous %}
                            <li>
                                <a href="?page={{ auctions.previous_page_number }}"
                                   class="bg-gray-200 text-gray-800 py-2 px-3 rounded-lg">
                                    &laquo;
                                </a>
                            </li>
                        {% endif %}

                        <!-- Pagination Numbers with Ellipsis -->
                        {% for num in auctions.paginator.page_range %}
                            {% if num == 1 or num == auctions.paginator.num_pages %}
                                <!-- Always show the first and last page -->
                                <li>
                                    <a href="?page={{ num }}"
                                       class="{% if num == auctions.number %} bg-blue-500 text-white {% else %} bg-gray-200 text-gray-800 {% endif %} py-2 px-3 rounded-lg">
                                        {{ num }}
                                    </a>
                                </li>
                            {% elif num >= auctions.number|add:"-1" and num <= auctions.number|add:"1" %}
                                <!-- Show pages around the current page -->
                                <li>
                                    <a href="?page={{ num }}"
                                       class="{% if num == auctions.number %} bg-blue-500 text-white {% else %} bg-gray-200 text-gray-800 {% endif %} py-2 px-3 rounded-lg">
                                        {{ num }}
                                    </a>
                                </li>
                            {% elif num == auctions.number|add:"-2" or num == auctions.number|add:"2" %}
                                <!-- Show ellipsis if there is a gap -->
                                <li>
                                    <span class="py-2 px-3">...</span>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <!-- Next Arrow -->
                        {% if auctions.has_next %}
                            <li>
                                <a href="?page={{ auctions.next_page_number }}"
                                   class="bg-gray-200 text-gray-800 py-2 px-3 rounded-lg">
                                    &raquo;
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                <!-- Pagination -->
                <div class="mt-6 flex justify-center">
                    <ul class="flex space-x-2">
                        <!-- Previous Arrow -->
                        {% if payments.has_previous %}
                            <li>
                                <a href="?page={{ payments.previous_page_number }}"
                                   class="bg-gray-200 text-gray-700 px-3 py-1 rounded">
                                    &laquo;
                                </a>
                            </li>
                        {% endif %}

                        <!-- Pagination Numbers with Ellipsis -->
                        {% for num in payments.paginator.page_range %}
                            {% if num == 1 or num == payments.paginator.num_pages %}
                                <!-- Always show the first and last page -->
                                <li>
                                    <a href="?page={{ num }}"
                                       class="{% if num == payments.number %} bg-blue-500 text-white {% else %} bg-gray-200 text-gray-700 {% endif %} px-3 py-1 rounded">
                                        {{ num }}
                                    </a>
                                </li>
                            {% elif num >= payments.number|add:"-1" and num <= payments.number|add:"1" %}
                                <!-- Show pages around the current page -->
                                <li>
                                    <a href="?page={{ num }}"
                                       class="{% if num == payments.number %} bg-blue-500 text-white {% else %} bg-gray-200 text-gray-700 {% endif %} px-3 py-1 rounded">
                                        {{ num }}
                                    </a>
                                </li>
                            {% elif num == payments.number|add:"-2" or num == payments.number|add:"2" %}
                                <!-- Show ellipsis if there is a gap -->
                                <li>
                                    <span class="px-3 py-1">...</span>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <!-- Next Arrow -->
                        {% if payments.has_next %}
                            <li>
                                <a href="?page={{ payments.next_page_number }}"
                                   class="bg-gray-200 text-gray-700 px-3 py-1 rounded">
                                    &raquo;
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>



            {% else %}
                <p class="text-center text-gray-600">Product not found</p>
            {% endif %}
        </div>
    </div>
    <!--============= Product Auction Section Ends Here =============-->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const filterCat = document.getElementById("filterCat");
            filterCat.addEventListener("change", function () {
                document.getElementById("filterForm").submit();
            });
        });
    </script>
{% endblock %}
