{% extends "layout.html" %}
{% load static %}
{% block body %}

    <div class="max-w-[1280px] w-full m-auto">

        <!--============= Hero Section Starts Here =============-->
        <div class="pt-[100px]">
            <div class="container mx-auto">
                <ul class="flex space-x-2 text-gray-500">
                    <li><a href="/" class="hover:text-blue-500">Home</a></li>
                    <li><span> / My Bids</span></li>
                </ul>
            </div>
        </div>
        <!--============= Hero Section Ends Here =============-->

        <!--============= Dashboard Section Starts Here =============-->
        <section class="my-10">
            <div class="container mx-auto">
                <div class="flex flex-wrap justify-center">
                    <!-- Sidebar -->
                    <div class="w-full sm:w-1/3 lg:w-1/4 p-4">
                        <div class="bg-white shadow-lg rounded-lg p-4 sticky top-20">
                            <div class="flex flex-col items-center">
                                <div class="relative w-24 h-24 rounded-full overflow-hidden">
                                    <img class="object-cover w-full h-full" src="
                                            
                                            
                                            
                                            
                                            {% if profile_picture %}{{ profile_picture }}{% else %}{% static 'auctions/images/user-3296.png' %}{% endif %}"
                                         alt="{{ username }}">
                                </div>
                                <h5 class="mt-4 text-lg font-semibold text-gray-800">{% if name %} {{ name }} {% else %}
                                    None {% endif %}</h5>
                                <span class="text-gray-600">{{ user.email }}</span>
                            </div>
                            <ul class="mt-6 space-y-2">
                                <li>
                                    <a href="{% url 'userProfile' %}"
                                       class="flex items-center p-2 text-black hover:bg-[#242c5f] hover:text-white rounded w-full">
                                        <i class="fas fa-user-cog mr-2"></i> Personal Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'userDashboard' %}"
                                       class="flex items-center p-2 text-black hover:bg-[#242c5f] hover:text-white rounded w-full">
                                        <i class="fas fa-tachometer-alt mr-2"></i> Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/auction"
                                       class="flex items-center p-2 text-black hover:bg-[#242c5f] hover:text-white rounded w-full">
                                        <i class="fas fa-gavel mr-2"></i> My Auction
                                    </a>
                                </li>
                                <li class="bg-[#242c5f] p-2 rounded w-full">
                                    <a href="{% url 'userBids' %}"
                                       class="flex items-center text-white">
                                        <i class="fas fa-balance-scale mr-2"></i> My Bids
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'userWinBids' %}"
                                       class="flex items-center p-2 text-black hover:bg-[#242c5f] hover:text-white rounded w-full">
                                        <i class="fas fa-trophy mr-2"></i> Winning Bids
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Main Content -->
                    <div class="w-full sm:w-2/3 lg:w-3/4 p-4">
                        <div class="bg-white shadow-lg rounded-lg p-6 mb-10">
                            <h5 class="text-xl font-semibold mb-6">My Bids</h5>
                            {% if userBids %}
                                <table class="w-full border-collapse">
                                    <thead class="bg-gray-100 text-gray-600">
                                    <tr>
                                        <th class="py-2 px-4 border-b">Image</th>
                                        <th class="py-2 px-4 border-b">Item</th>
                                        <th class="py-2 px-4 border-b">Buy Now Price</th>
                                        <th class="py-2 px-4 border-b">Highest Bid</th>
                                        <th class="py-2 px-4 border-b">Current Bid</th>
                                        <th class="py-2 px-4 border-b">Bids</th>
                                        <th class="py-2 px-4 border-b">Expires</th>
                                        <th class="py-2 px-4 border-b">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for auction_p_list in userBids %}
                                        <tr class="border-b hover:bg-gray-50">
                                            <!-- Image Column -->
                                            <td class="py-2 px-4">
                                                <a href="{% url 'auctionDetails' auction_p_list.id %}">
                                                    <img src="{{ auction_p_list.image_url }}"
                                                         alt="{{ auction_p_list.title }}"
                                                         class="h-16 w-auto rounded-lg">
                                                </a>
                                            </td>
                                            <!-- Title Column -->
                                            <td class="py-2 px-4 w-[100px]">
                                                <a href="{% url 'auctionDetails' auction_p_list.id %}"
                                                   class="text-blue-600 hover:underline line-clamp-2">
                                                    {{ auction_p_list.title }}
                                                </a>
                                            </td>
                                            <!-- Buy Now Price Column -->
                                            <td class="py-2 px-4 text-blue-500 font-semibold">
                                                ৳ {{ auction_p_list.buy_now_price }}
                                            </td>
                                            <!-- Highest Bid Column -->
                                            <td class="py-2 px-4">
                                                {% if auction_p_list.highest_bid != 0 %}
                                                    <p class="line-through text-red-500">
                                                        ৳ {{ auction_p_list.highest_bid }}</p>
                                                {% else %}
                                                    <p class="line-through text-red-500">
                                                        ৳ {{ auction_p_list.starting_bid }}</p>
                                                {% endif %}
                                            </td>
                                            <!-- Current Bid Column -->
                                            <td class="py-2 px-4">
                                                ৳ {{ auction_p_list.highest_bid|default:auction_p_list.starting_bid }}
                                            </td>
                                            <!-- Bids Column -->
                                            <td class="py-2 px-4">
                                                <p>Bids: <span class="font-bold">{{ present_bid|default:"0" }}</span>
                                                </p>
                                            </td>
                                            <!-- Expires Column -->
                                            <td class="py-2 px-4">
                                                <div class="countdown-timer"
                                                     data-expire-date="{{ auction_p_list.expire_date }}"></div>
                                            </td>
                                            <!-- Action Column -->
                                            <td class="py-2 px-4">
                                                <div class="bg-gray-800 text-white px-3 py-1 text-xs rounded">
                                                    <a href="{% url 'auctionDetails' auction_p_list.id %}"
                                                       class="text-white font-bold">Bid Now</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="w-full text-center text-gray-600">Not found</p>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--============= Dashboard Section Ends Here =============-->

    </div>

{% endblock %}
