{% extends "layout.html" %}
{% load static %}
{% block body %}

    <div class="max-w-[1280px] w-full m-auto">
        <!--============= Hero Section Starts Here =============-->
        <div class="pt-[100px]">
            <div class="container mx-auto">
                <ul class="flex space-x-2 text-gray-500">
                    <li><a href="/" class="hover:text-blue-500">Home</a></li>
                    <li><span> / Shipping To</span></li>
                </ul>
            </div>
        </div>
        <!--============= Hero Section Ends Here =============-->

        <!--============= Dashboard Section Starts Here =============-->
        <section class="my-10">
            <div class="container mx-auto">
                <div class="flex flex-wrap justify-center">
                    {% include "sidebar.html" %}
                    <!-- Main Content -->
                    <div class="w-full sm:w-2/3 lg:w-3/4 p-4">
                        <div class="bg-white shadow-lg rounded-lg p-6 mb-10">
                            <h5 class="text-xl font-semibold mb-6">All Shipping To Information</h5>

                            <!-- Payment Table -->
                            <div class="w-full overflow-x-auto">
                                <table class="min-w-full bg-white">
                                    <thead>
                                    <tr class="w-full bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                        <th class="py-3 px-6 text-left">Recipient Name</th>
                                        <th class="py-3 px-6 text-left">Address</th>
                                        <th class="py-3 px-6 text-left">ZIP Code</th>
                                        <th class="py-3 px-6 text-left">Status</th>
                                        <th class="py-3 px-6 text-left">Tracking Number</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-gray-600 text-sm font-light">
                                    {% for address in shipping_addresses %}
                                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                                            <td class="py-3 px-6">{{ address.recipient_name }}</td>
                                            <td class="py-3 px-6">{{ address.street_address }}, {{ address.city }}, {{ address.province }}</td>
                                            <td class="py-3 px-6">{{ address.zip_code }}</td>
                                            <td class="py-3 px-6">
                                                <!-- Status Update Form -->
                                                <form class="status-form" method="POST"
                                                      action="{% url 'update_shipping_status' address.id %}">
                                                    {% csrf_token %}
                                                    <select name="status" class=" bg-gray-200 outline-none px-2 py-1"
                                                            onchange="this.form.submit()">
                                                        <option value="PENDING"
                                                                {% if address.status == 'PENDING' %}selected{% endif %}>
                                                            Pending
                                                        </option>
                                                        <option value="PACKED"
                                                                {% if address.status == 'PACKED' %}selected{% endif %}>
                                                            Packed
                                                        </option>
                                                        <option value="SHIPPED"
                                                                {% if address.status == 'SHIPPED' %}selected{% endif %}>
                                                            Shipped
                                                        </option>
                                                        <option value="IN_TRANSIT"
                                                                {% if address.status == 'IN_TRANSIT' %}selected{% endif %}>
                                                            In Transit
                                                        </option>
                                                        <option value="OUT_FOR_DELIVERY"
                                                                {% if address.status == 'OUT_FOR_DELIVERY' %}selected{% endif %}>
                                                            Out for Delivery
                                                        </option>
                                                        <option value="DELIVERED"
                                                                {% if address.status == 'DELIVERED' %}selected{% endif %}>
                                                            Delivered
                                                        </option>
                                                    </select>
                                                </form>
                                            </td>
                                            <td class="py-3 px-6">{{ address.tracking_number }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5" class="text-center py-3">No shipping information
                                                available.
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>

                            <!-- Pagination -->
                            <div class="mt-6 flex justify-center">
                                <ul class="flex space-x-2">
                                    <!-- Previous Arrow -->
                                    {% if shipping_addresses.has_previous %}
                                        <li>
                                            <a href="?page={{ shipping_addresses.previous_page_number }}"
                                               class="bg-gray-200 text-gray-700 px-3 py-1 rounded">
                                                &laquo;
                                            </a>
                                        </li>
                                    {% endif %}

                                    <!-- Pagination Numbers with Ellipsis -->
                                    {% for num in shipping_addresses.paginator.page_range %}
                                        {% if num == 1 or num == shipping_addresses.paginator.num_pages %}
                                            <!-- Always show the first and last page -->
                                            <li>
                                                <a href="?page={{ num }}"
                                                   class="{% if num == shipping_addresses.number %} bg-blue-500 text-white {% else %} bg-gray-200 text-gray-700 {% endif %} px-3 py-1 rounded">
                                                    {{ num }}
                                                </a>
                                            </li>
                                        {% elif num >= shipping_addresses.number|add:"-1" and num <= shipping_addresses.number|add:"1" %}
                                            <!-- Show pages around the current page -->
                                            <li>
                                                <a href="?page={{ num }}"
                                                   class="{% if num == shipping_addresses.number %} bg-blue-500 text-white {% else %} bg-gray-200 text-gray-700 {% endif %} px-3 py-1 rounded">
                                                    {{ num }}
                                                </a>
                                            </li>
                                        {% elif num == shipping_addresses.number|add:"-2" or num == shipping_addresses.number|add:"2" %}
                                            <!-- Show ellipsis if there is a gap -->
                                            <li>
                                                <span class="px-3 py-1">...</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <!-- Next Arrow -->
                                    {% if shipping_addresses.has_next %}
                                        <li>
                                            <a href="?page={{ shipping_addresses.next_page_number }}"
                                               class="bg-gray-200 text-gray-700 px-3 py-1 rounded">
                                                &raquo;
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--============= Dashboard Section Ends Here =============-->

    </div>

{% endblock %}
