{% load static %}
<section class="banner-section bg_img" data-background="{% static 'auctions' %}/images/banner/banner-bg-1-1.png">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-xl-6">
                <div class="banner-content cl-white">
                    <h5 class="cate">BidHub Auction Management System</h5>
                    <h1 class="title"><span class="d-xl-block">Discover Your</span> Next Great Find!</h1>
                    <p>
                        Online Auction: Your one-stop destination to shop, sell, and give, with unbeatable variety and
                        affordability.
                    </p>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
                <div class="banner-thumb-2">
                    <img src="{% static 'auctions' %}/images/banner/banner-1-1.png" alt="banner"
                         style="max-width: 600px">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape d-none d-lg-block">
        <img src="{% static 'auctions' %}/css/img/banner-shape.png" alt="css">
    </div>
</section>