{% extends "auctions/layout.html" %}

{% block body %}
    <div style="margin: 150px 0;" class="d-flex justify-content-center align-items-center w-100">
        <div style="max-width: 800px; width: 100%; padding: 20px">
            <h2 class="text-center mb-4">Create Listing</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title"></label>
                    <input required autofocus placeholder="Title" type="text" name="create_title" id="title"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="dec"></label>
                    <textarea required class="form-control" id="dec" rows="4" placeholder="Add Description" type="text"
                              name="create_desc"></textarea>
                </div>
                <div class="form-group">
                    <label for="starting_bid"></label>
                    <input required placeholder="Starting bid amaount" type="number" name="create_initial_bid"
                           id="starting_bid"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="file" name="img_url">
                </div>
                <div class="form-group">
                    <div>Select Categories</div>
                    {% for category in categories %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="category_{{ category.slug }}"
                                   name="category[]" value="{{ category.slug }}">
                            <label class="form-check-label" for="category_{{ category.slug }}">
                                {{ category.title }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}


