{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

    <!--============= Hero Section Starts Here =============-->
    <div style="padding-top: 120px;">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <span>Dashboard</span>
                </li>
            </ul>
        </div>
    </div>
    <!--============= Hero Section Ends Here =============-->

    <!--============= Dashboard Section Starts Here =============-->
    <section style="margin: 40px 0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-7 col-lg-4">
                    <div class="dashboard-widget mb-30 mb-lg-0">
                        <div class="user">
                            <div class="thumb-area">
                                <div style="width: 100px; height: 100px; overflow: hidden; border-radius: 50%">
                                    <img style="height: 100%" src="{% if profile_picture %}{{ profile_picture }}{% else %}{% static 'auctions/images/user-3296.png' %}{% endif %}"
                                         alt="{{ username }}">
                                </div>
                            </div>
                            <div class="content">
                                <h5 class="title">{% if name %} {{ name }} {% else %} None {% endif %}</h5>
                                <span class="username">{{ user.email }}</span>
                            </div>
                        </div>
                        <ul class="dashboard-menu">
                            <li>
                                <a href="/user/profile"><i class="flaticon-settings"></i>Personal Profile </a>
                            </li>
                            <li>
                                <a href="/dashboard" class="active"><i class="flaticon-dashboard"></i>Dashboard</a>
                            </li>
                            <li>
                                <a href="/user/bid"><i class="flaticon-auction"></i>My Bids</a>
                            </li>
                            <li>
                                <a href="/user/win/bids"><i class="flaticon-best-seller"></i>Winning Bids</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="dashboard-widget mb-40">
                        <div class="dashboard-title mb-30">
                            <h5 class="title">My Activity</h5>
                        </div>
                        <div class="row justify-content-center mb-30-none">
                            <div class="col-md-4 col-sm-6">
                                <div class="dashboard-item">
                                    <div class="thumb">
                                        <img src="{% static 'auctions' %}/images/dashboard/01.png" alt="dashboard">
                                    </div>
                                    <div class="content">
                                        <h2 class="title"><span class="counter">{{ active_bids }}</span></h2>
                                        <h6 class="info">Active Bids</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="dashboard-item">
                                    <div class="thumb">
                                        <img src="{% static 'auctions' %}/images/dashboard/02.png" alt="dashboard">
                                    </div>
                                    <div class="content">
                                        <h2 class="title"><span class="counter">{{ your_win }}</span></h2>
                                        <h6 class="info">Items Won</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <div class="tab-content">
                            <div class="tab-pane show active fade" id="current">
                                <table class="purchasing-table">
                                    <thead>
                                    <th>Item</th>
                                    <th>Bid Price</th>
                                    <th>Highest Bid</th>
                                    <th>Lowest Bid</th>
                                    <th>Expires</th>
                                    </thead>
                                    <tbody>
                                    {% for a_list in auctions %}
                                        <tr>
                                            <td title="{{ a_list.title }}" data-purchase="item">
                                                {{ a_list.title|truncatewords:2 }}{% if a_list.title.split|length > 2 %}
                                                    ...{% endif %}</td>
                                            <td data-purchase="bid price">${{ a_list.starting_bid }}</td>
                                            <td data-purchase="highest bid">
                                                ${{ a_list.highest_bid_price.bid__max }}</td>
                                            <td data-purchase="lowest bid">${{ a_list.lowest_bid_price.bid__min }}</td>
                                            <td class="dashboard-expire-date"
                                                data-dashboard-expire="{{ a_list.expire_date }}"
                                                data-purchase="expires">{{ a_list.expire_date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Dashboard Section Ends Here =============-->
{% endblock %}
