{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    {% include "auctions/banner.html" %}
    <section class="jewelry-auction-section padding-bottom padding-top pos-rel">
        <div class="container">
            <div class="section-header-3">
                <div class="left">
                    <div class="title-area">
                        <h2 class="title mb-0">Top auctions list</h2>
                    </div>
                </div>
                <a href="{% url 'auctionList' %}" class="normal-button">View All</a>
            </div>
            <div class="row justify-content-center mb-30-none">
                {% for top_three_p_list in top_three_products %}
                    <div class="col-12 col-md-6 col-lg-4 py-2">
                        <div class="card">
                            <h6 class="title p-3">
                                <a href="{% url 'auctionDetails' top_three_p_list.id %}"
                                   style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;"
                                >{{ top_three_p_list.title }}
                                </a>
                            </h6>
                            <div style="height: 200px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: #f6f6ff; overflow: hidden;"
                            >
                                <a href="{% url 'auctionDetails' top_three_p_list.id %}">
                                    <img src="{{ top_three_p_list.first_image_url }}"
                                         alt="{{ top_three_p_list.title }}"
                                         class="card-img-top"
                                         style="height: 100%; width: 100%; object-fit: cover;">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="small"><a href="#!" class="text-muted">Buy Now</a></p>
                                    <p class="small text-danger"><s>৳ {{ top_three_p_list.buy_now_price }}</s></p>
                                </div>
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">Current Bid</h5>
                                    <h5 class="text-dark mb-0">
                                        {% if top_three_p_list.current_bid != 0 %}
                                            ৳ {{ top_three_p_list.current_bid }}
                                        {% else %}
                                            ৳ {{ top_three_p_list.starting_bid }}
                                        {% endif %}
                                    </h5>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <p class="text-muted mb-0">Bids: <span
                                            class="fw-bold">{{ present_bid|default:"0" }}</span></p>
                                    <div class="countdown">
                                        <div class="countdown-timer"
                                             data-expire-date="{{ top_three_p_list.expire_date }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <!--============= Jewelry Auction Section Ends Here =============-->


    <!--============= Call In Section Starts Here =============-->
    {% if not user.is_authenticated %}
        <section class="call-in-section padding-top pt-max-xl-0">
            <div class="container">
                <div class="call-wrapper cl-white bg_img" style="background-color: #242c5f">
                    <div class="section-header">
                        <h3 class="title text-primary">Register for Free & Start Bidding Now!</h3>
                        <p class="text-primary">From cars to diamonds to iPhones, we have it all.</p>
                    </div>
                    <a href="/register" class="custom-button white">Register</a>
                </div>
            </div>
        </section>
    {% endif %}
    <!--============= Call In Section Ends Here =============-->

    {% if watch_cat_products|length > 0 %}
        <!--============= Watches Auction Section Starts Here =============-->
        <section class="watches-auction-section padding-bottom padding-top">
            <div class="container">
                <div class="section-header-3">
                    <div class="left">
                        <div class="thumb">
                            <img src="{% static 'auctions' %}/images/header-icons/watch.png" alt="header-icons">
                        </div>
                        <div class="title-area">
                            <h2 class="title">Watches</h2>
                            <p>Shop for men & women designer brand watches</p>
                        </div>
                    </div>
                    <a href="/auctions" class="normal-button">View All</a>
                </div>
                <div class="row justify-content-center mb-30-none">
                    {% for watch_p_list in watch_cat_products %}
                        <div class="col-12 col-md-6 col-lg-4 py-2">
                            <div class="card">
                                <h6 class="title p-3">
                                    <a href="{% url 'auctionDetails' watch_p_list.id %}"
                                       style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;"
                                    >{{ watch_p_list.title }}
                                    </a>
                                </h6>
                                <div style="height: 200px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: #f6f6ff; overflow: hidden;"
                                >
                                    <a href="{% url 'auctionDetails' watch_p_list.id %}">
                                        <img src="{{ watch_p_list.first_image_url }}"
                                             alt="{{ watch_p_list.title }}"
                                             class="card-img-top"
                                             style="height: 100%; width: 100%; object-fit: cover;">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-2">
                                        <p class="small"><a href="#!" class="text-muted">Buy Now</a></p>
                                        <p class="small text-danger"><s>৳ {{ watch_p_list.buy_now_price }}</s></p>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <h5 class="mb-0">Current Bid</h5>
                                        <h5 class="text-dark mb-0">
                                            {% if watch_p_list.current_bid != 0 %}
                                                ৳ {{ watch_p_list.current_bid }}
                                            {% else %}
                                                ৳ {{ watch_p_list.starting_bid }}
                                            {% endif %}
                                        </h5>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <p class="text-muted mb-0">Bids: <span
                                                class="fw-bold">{{ present_bid|default:"0" }}</span></p>
                                        <div class="countdown">
                                            <div class="countdown-timer"
                                                 data-expire-date="{{ watch_p_list.expire_date }}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--============= Watches Auction Section Ends Here =============-->
    {% endif %}


    <!--============= How Section Starts Here =============-->
    <section class=" padding-top mb-10">
        <div class="container">
            <div class="how-wrapper section-bg">
                <div class="section-header text-lg-left">
                    <h2 class="title">How it works</h2>
                    <p>Easy 3 steps to win</p>
                </div>
                <div class="row justify-content-center mb--40">
                    <div class="col-md-6 col-lg-4">
                        <div class="how-item">
                            <div class="how-thumb">
                                <img src="{% static 'auctions' %}/images/how/signup.png" alt="how">
                            </div>
                            <div class="how-content">
                                <h4 class="title">Sign Up</h4>
                                <p>No Credit Card Required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="how-item">
                            <div class="how-thumb">
                                <img src="{% static 'auctions' %}/images/how/bid.png" alt="how">
                            </div>
                            <div class="how-content">
                                <h4 class="title">Bid</h4>
                                <p>Bidding is free Only pay if you win</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="how-item">
                            <div class="how-thumb">
                                <img src="{% static 'auctions' %}/images/how/win.png" alt="how">
                            </div>
                            <div class="how-content">
                                <h4 class="title">Win</h4>
                                <p>Fun - Excitement - Great deals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}