{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <!--============= Hero Section Starts Here =============-->
    <div style="padding-top: 120px;">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <span>Profile</span>
                </li>
            </ul>
        </div>
    </div>
    <!--============= Hero Section Ends Here =============-->

    <!--============= Dashboard Section Starts Here =============-->
    <section style="margin: 40px 0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-7 col-lg-4">
                    <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
                        <div class="user">
                            <div class="thumb-area">
                                <div class="thumb">
                                    <img src="{{ profile_picture }}" alt="{{ username }}">
                                </div>
                                <label for="profile-pic" class="profile-pic-edit"><i
                                        class="flaticon-pencil"></i></label>
                                <input type="file" id="profile-pic" class="d-none">
                            </div>
                            <div class="content">
                                <h5 class="title">{% if name %} {{ name }} {% else %} None {% endif %}</h5>
                                <span class="username">{{ user.email }}</span>
                            </div>
                            <div style="margin-top: 15px;">
                                <a class="btn btn-sm btn-danger" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                        <ul class="dashboard-menu">
                            <li>
                                <a href="/user/profile" class="active"><i class="flaticon-settings"></i>Personal Profile
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard"><i class="flaticon-dashboard"></i>Dashboard</a>
                            </li>
                            <li>
                                <a href="/user/bid"><i class="flaticon-auction"></i>My Bids</a>
                            </li>
                            <li>
                                <a href="/user/win/bids"><i class="flaticon-best-seller"></i>Winning Bids</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="dash-pro-item mb-30 dashboard-widget">
                                <div class="header">
                                    <h4 class="title">Personal Details</h4>
                                    <span class="edit"><i class="flaticon-edit"></i> Edit</span>
                                </div>
                                <ul class="dash-pro-body">
                                    <li>
                                        <div class="info-name">Username</div>
                                        <div class="info-value">{{ username }}</div>
                                    </li>
                                    <li>
                                        <div class="info-name">Email</div>
                                        <div class="info-value">{{ email }}</div>
                                    </li>
                                    <li>
                                        <div class="info-name">Name</div>
                                        <div class="info-value">
                                            {% if name %}
                                                {{ name }}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Dashboard Section Ends Here =============-->

{% endblock %}