{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

    <!--============= Hero Section Starts Here =============-->
    <div style="padding-top: 120px;">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <span>My Winning Bid</span>
                </li>
            </ul>
        </div>
    </div>
    <!--============= Hero Section Ends Here =============-->

    <!--============= Dashboard Section Starts Here =============-->
    <section style="margin: 40px 0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-7 col-lg-4">
                    <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
                        <div class="user">
                            <div class="thumb-area">
                                <div class="thumb">
                                    <img src="{{ profile_picture }}" alt="{{ username }}">
                                </div>
                            </div>
                            <div class="content">
                                <h5 class="title">{% if name %} {{ name }} {% else %} None {% endif %}</h5>
                                <span class="username">{{ user.email }}</span>
                            </div>
                        </div>
                        <ul class="dashboard-menu">
                            <li>
                                <a href="{% url 'userDashboard' %}"><i class="flaticon-dashboard"></i>Dashboard</a>
                            </li>
                            <li>
                                <a href="{% url 'userProfile' %}"><i class="flaticon-settings"></i>Personal Profile </a>
                            </li>
                            <li>
                                <a href="{% url 'userBids' %}"><i class="flaticon-auction"></i>My Bids</a>
                            </li>
                            <li>
                                <a href="{% url 'userWinBids' %}" class="active"><i class="flaticon-best-seller"></i>Winning
                                    Bids</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="dash-bid-item dashboard-widget mb-30">
                        <div class="header">
                            <h4 class="title">Winning Bids</h4>
                        </div>
                    </div>
                    <div class="row mb-30">
                        {% for auction_p_list in auctions %}
                            <div class="col-sm-10 col-md-6">
                                <div class="card">
                                    <h6 class="title p-3">
                                        <a style="display: -webkit-box;-webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;"
                                           href="{% url 'auctionDetails' auction_p_list.auction.id %}">{{ auction_p_list.auction.title }}</a>
                                    </h6>
                                    <div style="height: 300px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: #f6f6ff; overflow: hidden;">
                                        <a href="{% url 'auctionDetails' auction_p_list.auction.id %}">
                                            <img src="{{ auction_p_list.auction.image_url }}"
                                                 alt="{{ auction_p_list.auction.title }}"
                                                 class="card-img-top"
                                                 style="height: 100%; width: 100%; object-fit: contain;"
                                            >
                                        </a>
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="small"><a href="#!" class="text-muted">Buy Now</a></p>
                                            <p class="small text-danger">
                                                <s>৳ {{ auction_p_list.auction.buy_now_price }}</s></p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="mb-0">Current Bid</h5>
                                            <h5 class="text-dark mb-0">
                                                {% if auction_p_list.auction.current_bid != 0 %}
                                                    ৳ {{ auction_p_list.auction.current_bid }}
                                                {% else %}
                                                    ৳ {{ auction_p_list.auction.starting_bid }}
                                                {% endif %}
                                            </h5>
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <p class="text-muted mb-0">Bids: <span
                                                    class="fw-bold">{{ present_bid|default:"0" }}</span></p>
                                            <div class="countdown">
                                                <div class="countdown-timer"
                                                     data-expire-date="{{ auction_p_list.auction.expire_date }}"></div>

                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <a href="{% url 'auctionDetails' auction_p_list.auction.id %}"
                                               class="custom-button">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Dashboard Section Ends Here =============-->

{% endblock %}